<div class="h-full relative overflow-hidden group bg-white main-card-hover">
  <div
    class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden flex flex-col"
  >
    <a [routerLink]="['/details', product._id, product.slug]">
      <img
        class="lg:h-72 md:h-36 w-full object-contain object-center"
        [src]="product.imageCover"
        [alt]="product.title"
      />
    </a>
    <div class="p-6 flex flex-col grow justify-between">
      <div>
        <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
        <h2 class="title-font text-lg font-medium text-gray-900 mb-3 line-clamp-1">
          {{ product.title }}
        </h2>
        <p class="leading-relaxed mb-3 line-clamp-2">
          {{ product.description }}
        </p>
      </div>
      <div>
        <button
          (click)="addToCart(product._id)"
          [disabled]="isLoading"
          class="btn-main w-full flex justify-center items-center mb-2"
        >
          @if (isLoading) {
            Adding...
            <i class="fas fa-spinner fa-spin mx-2"></i>
          } @else {
            Add to Cart
          }
        </button>
        <div class="flex justify-between items-center">
          <span class="text-black font-bold inline-flex items-center leading-none text-sm">
            Price {{ product.price }} $
          </span>
          <span
            class="text-rating inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm py-1"
          >
            {{ product.ratingsAverage }} <i class="far fa-star"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <button
    (click)="addToWishlist(product._id)"
    [disabled]="flagIsLoading"
    class="absolute top-5 inset-e-5 cursor-pointer translate-x-[150%] group-hover:translate-x-0 duration-700"
  >
    @if (flagIsLoading) {
      <i class="fas fa-spinner fa-spin mx-2"></i>
    } @else {
      @if (flag) {
        <i class="fa-solid fa-heart text-red-800 text-3xl"></i>
      } @else {
        <i class="fa-regular fa-heart text-red-800 text-3xl"></i>
      }
    }
  </button>
</div>
