body {
  background-image: url('/images/light-patten.svg');
}

@layer components {
  .btn-main,
  .active-link {
    @apply bg-main-600 hover:bg-main-400 transition-colors disabled:cursor-not-allowed disabled:bg-light disabled:text-black duration-500 cursor-pointer px-5 py-2 rounded-2xl text-light;
  }
}

@layer components {
  .main-card-hover {
    @apply rounded-lg hover:shadow-main border-2 border-transparent hover:border-main-400 duration-500 transition-all;
  }
}

@layer components {
  .main-input {
    @apply block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand;
  }
}
